body {
    background-color: greenyellow;


}

h1 {
    text-align: left;

}


#gameInstructions{
    background-color: rgb(209, 209, 146);
    margin: 15px 850px 15px 15px;
    color: green;
    font-style: oblique;
    font-weight: bold;
    



}


#randomNumberbox{
    margin: 25px 0px 0px 10px;
    width: 600px;
    height: 150px;
}

.randomNumber{
    width: 55%;
    height: 100%;
    float: left;
    background-color: rgb(101, 172, 101);

}


#scorePoints{
    background-color: rgb(0, 255, 255);
    width: 40%;
    height: 100%;
    float: right;




}








#gameButtons{
    margin:25px auto auto 10px;
    height: 200px;
    width: 900px;
}
.box{
    width: 150px;
    height: 100%;
    background-color: blue;
    margin:0 10px 0 10px;
    float: left;


    }

#totalScore{
    background-color: rgb(5, 112, 94);
    margin: 15px 1000px 15px 15px;



}
